
body
{
color:blue;
}
.cat
{
max-width:100%;
border-radius:10px;
position:relative;
top:50px;
width:200px;
height:150px;
}
.catname
{
font-family: 'Ranga', cursive;
font-size:30px;
}
.padding-top-50
{
padding-top:50px;
}
.bottom
{
position:relative;
bottom:20px;
}
.left
{
position:relative;
left:50px;
}